body {
        background-color:#0F0F0F;
}
.navbar .navbox a {
    color:black;
    font-weight:bold;
    text-decoration:none;
}
.text a {
    text-decoration:none;
}
.body {
    margin:20px 50px 20px 50px;
    background-color: #F0F0F0;
}
.head {
    padding:10px;
    background-color:grey;
}
.navbox {
    padding:5px;
    background-color:white;
}
.navbar {
    display:flex;
    justify-content:space-between;
    padding:5px;
}
#bannerjpg {
    width:100%;
    height:100px;
    z-index: -7;
}
.ERROR {
    text-align: center;
    font-weight:bold;
    color:red;
}
.ERROR img {
    width:100px;
    height:100px;
}
.footer {
    color:#888888;
    text-align:right;
}
.text {
    padding:5px;
    overflow:auto;
}
.text img {
    float:left;
}
#singleton {
    width:300px;
}
#nfa {
    width:50%;
    margin:10px;
}
.title {
    font-size: 20px;
    font-weight:bold;
}