.field_div
{
    margin-bottom: 1em;
}
input
{
    margin-left: 1em;
}
select
{
    margin-left: 1em;
}
#ZipError
{
    color:red;
    font-weight: bolder;
    margin-left: 2em;
}
#PassError
{
        color:red;
    font-weight: bolder;
    margin-left: 2em;
}
#UNameError .error
{
        color:red;
    font-weight: bolder;
    margin-left: 2em;
}
#UNameError .success
{
        color:green;
    font-weight: bolder;
    margin-left: 2em;
}