question{
    display:inline;
}
qlabel{
    display:block;
}
answer {
    display:block;
}
field{
    display:block;
    margin-left:2em;
    margin-bottom:1em;
}
label {
    padding-right:1em;
    font-weight:4px;
}
answer {
    display:block;
}
body {
    background:beige;
}
button {
    background-color:lightblue;
}