question{
    display:block;
}
qlabel{
    display:block;
    padding:1em;
    margin:1em;
    background-color: white;
    
}
answer {
    display:block;
}
field{
    display:block;
    margin-left:2em;
    margin-bottom:1em;
}
label {
    padding-right:1em;
    font-weight:4px;
}
answer {
    display:block;
}
body {
    background:beige;
}
button {
    background-color:lightblue;
}
point_score {
    display:block;
}
.Yay {
    background-color:green;
}
point_value{
    display:block;
    background-color:inherit;
}
reward {
    display:block;
    background-color: inherit
}